@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.cdnfonts.com/css/metropolis-2');

body {
    background-image: linear-gradient(to right, #360167, #6B0772, #AF1281, #CF268A, #E65C96, #FB8CAB);
    font-family: 'Metropolis', sans-serif;
    animation: marg 3s;
}

@keyframes marg {
    from {margin-top: 100%; opacity: 0;}
    to {margin-top: 0; opacity: 100%;}
  }

.form{
    color: rgb(0, 0, 0);
    font-size: 22px;
}

.form:hover{
    color: rgb(0, 255, 8);
    font-weight: bold;
    font-size: 26px;
    transition: 0.3s;
}

.form:visited{
    outline: 0;
}

.header{
    margin: auto;
    text-align: center;
}
.bd{
    font-size: 60px;
    color: rgb(190, 106, 250);
    padding-top: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    animation: onoff 0.7s infinite;
}

@keyframes onoff {
    from {opacity: 0;}
    to {opacity: 100%;}
  }

.lin{
    font-size: 20px;
    font-weight: 500;
    color: white;
    margin-bottom: 10px;    
}

.main {
    display: flex;
    justify-content: center;
    max-width: 1700px;
    height: 120%;
    flex-wrap: wrap;
    margin: auto;
    padding-bottom: 10px;
}


.col1 {
    width: 150px;
    height: 150px;
    margin: auto;
    background-image: url("Images/1p.jpg");
    background-position: center;
    box-shadow: 0 0 5px 3px pink;
    border-radius: 20px;
    
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg);} }

.col1:hover{
    -webkit-animation:spin 0.3s linear infinite;
    -moz-animation:spin 0.3s linear infinite;
    animation:spin 0.3s linear infinite;
}


.col2 {
    width: 150px;
    margin: 10px;
    margin: auto;

}

.col3 {
    width: 150px;
    margin: 10px;
    margin: auto;

}

.col4 {
    width: 150px;
    margin: 10px;
    margin: auto;
}

.col5 {
    width: 150px;
    margin: 10px;
    margin: auto;
}

.col6 {
    width: 150px;
    margin: 10px;
    margin: auto;

}

.col7 {
    width: 150px;
    margin: 10px;
    margin: auto;

}

.col8 {
    width: 150px;
    height: 150px;
    margin: auto;
    background-image: url("Images/20p.jpg");
    background-position: center;
    box-shadow: 0 0 5px 3px pink;
    border-radius: 20px;

}

.col8:hover{
    transition: 0.3s;
    -webkit-animation:spin 0.3s linear infinite;
    -moz-animation:spin 0.3s linear infinite;
    animation:spin 0.3s linear infinite;
}

.double-img{
    width: 100%;
    margin-top: 5%;
    margin-bottom: 5%;
    height: 267px;
    background-color: red;
    box-shadow: 0 0 5px 3px pink;
    border-radius: 20px;

}

.double-img:hover{
    transition: 0.3s;
    -webkit-animation:spin 0.3s linear infinite;
    -moz-animation:spin 0.3s linear infinite;
    animation:spin 0.3s linear infinite;
}

.three-img{
    width: 100%;
    margin-top: 5%;
    margin-bottom: 5%;
    height: 230px;
    background-color: red;
    box-shadow: 0 0 5px 3px pink;
    border-radius: 20px;

}

.three-img:hover{
    transition: 0.3s;
    -webkit-animation:spin 0.3s linear infinite;
    -moz-animation:spin 0.3s linear infinite;
    animation:spin 0.3s linear infinite;
}

.four-img{
    width: 100%;
    margin-top: 5%;
    margin-bottom: 5%;
    height: 200px;
    background-color: red;
    box-shadow: 0 0 5px 3px pink;
    border-radius: 20px;

}

.four-img:hover{
    transition: 0.3s;
    -webkit-animation:spin 0.3s linear infinite;
    -moz-animation:spin 0.3s linear infinite;
    animation:spin 0.3s linear infinite;
}

#double-L1{
    background-image: url("Images/2p.jpg");
    background-position: center;
}


#double-L2{
    background-image: url("Images/3p.jpg");
    background-position: center;
}

#double-R1{
    background-image: url("Images/18p.jpg");
    background-position: center;
}


#double-R2{
    background-image: url("Images/19p.jpg");
    background-position: center;
}


#three-L1{
    background-image: url("Images/4p.jpg");
    background-position: center;
}

#three-L2{
    background-image: url("Images/5p.jpg");
    background-position: center;
}

#three-L3{
    background-image: url("Images/6p.jpg");
    background-position: center;
}

#three-R1{
    background-image: url("Images/15p.jpg");
    background-position: center;
}

#three-R2{
    background-image: url("Images/16p.jpg");
    background-position: center;
}

#three-R3{
    background-image: url("Images/17p.jpg");
    background-position: center;
}


#four-L1{
    background-image: url("Images/7p.jpg");
    background-position: center;
}

#four-L2{
    background-image: url("Images/8p.jpg");
    background-position: center;
}

#four-L3{
    background-image: url("Images/9p.jpg");
    background-position: center;
}

#four-L4{
    background-image: url("Images/10p.jpg");
    background-position: center;
}


#four-R1{
    background-image: url("Images/11p.jpg");
    background-position: center;
}

#four-R2{
    background-image: url("Images/12p.jpg");
    background-position: center;
}

#four-R3{
    background-image: url("Images/13p.jpg");
    background-position: center;
}

#four-R4{
    background-image: url("Images/14p.jpg");
    background-position: center;
}
/* @media screen and (max-width: 1640px) {
    .main{
        display: block;
    }
} */
